html {
		background-color: rgba(192,192,192,0.1);
		font-family: Bradley Hand, cursive;
}

.inner {
	padding: 0 10px;
	display: flex;
	justify-content: center;
}


.card {
	height: 200px;
	margin: auto 10px;
}

.menu {
	display: flex;
	justify-content: center;
}

.menuItem {
	font-family: Bradley Hand, cursive!important;
	font-size: 18px!important;
	text-decoration: none!important;
}

.link {
	text-decoration: none;
	color: black;
}